<div>
  <div class="files-table-control">
    <input
      id="selectAll"
      type="checkbox"
      value="{{this.selectAllCheckedState}}"
      onchange={{this.handleChangeAllRowsCellValue}}
    />
    <label for="selectAll">
      {{#if this.selectedCount}}
        Selected{{this.selectedCount}}
      {{else}}
        None selected
      {{/if}}
    </label>
    <button class="download-button">
      Download Selected
    </button>
  </div>
  <table class="files-table">
    <tr class="files-table__header">
      {{#each-in this.columnsConfig as |key column|}}
        <th class="files-table__cell" style="width: {{column.customWidth}}px">
          {{column.text}}
        </th>
      {{/each-in}}
    </tr>
    {{#each this.mockData as |row|}}
      <tr class="files-table__row">
        {{#each-in columnsConfig as |key column|}}
          <td class="files-table__cell">
            {{component
              column.component
              cellValue=(get row column.dataKey)
              changeCellValue=(fn this.handleChangeRowCellValue)
            }}
          </td>
        {{/each-in}}
      </tr>
    {{/each}}
  </table>
</div>