<div class="files-manager">
  <table class="files-table">
    <tr class="files-table__header">
      {{#each-in @columnsConfig as |key column|}}
        <th class="files-table__cell" style={{sanitize-html column.customStyle}}>
          {{column.text}}
        </th>
      {{/each-in}}
    </tr>

    {{#each-in @rowsData as |rowId row|}}
      <tr class="files-table__row {{if row.isSelected "files-table__row--selected"}}" {{on "click" (fn @selectRow rowId) }}>
        {{#each-in @columnsConfig as |key column|}}
          <td class="files-table__cell">
            {{#let (component column.component) as |TableCellComponent|}}
              <TableCellComponent @value={{get row column.dataKey}} @changeValue={{fn @changeRowCellValue rowId column.dataKey}}></TableCellComponent>
            {{/let}}
          </td>
        {{/each-in}}
      </tr>
    {{/each-in}}
  </table>
</div>