<div class="files-view">
  <CustomTableControls
    @selectedCount={{this.selectedRowCount}}
    @maxCount={{this.tableRows.size}}
    @selectAll={{this.handleSelectAll}}
    @download={{this.handleDownload}}
  />
  <CustomTable
    @rowsData={{this.tableRows}}
    @columnsConfig={{this.tableColumnsConfig}}
    @selectRow={{this.handleSelectRow}}
    @changeRowCellValue={{this.handleRowCellValueChange}}
  />
</div>